<div class="container">
<h1 class="welcome-title">Welcome to the home page</h1>
  <p class="message text-light">This is important for me to learn</p>
  <p class="p2 text-light">very important <a href="/"> yeah it is</a></p>
  <h3 class="my-h3">This is also very essential</h3>

  <h5>Wakanda Forever!!</h5>

  <i class="fa fa-cloud"></i>
  <i class="fa fa-heart"></i>
  <i class="fa fa-car"></i>
  <i class="fa fa-file"></i>
  <i class="fa fa-bars"></i>
  <a href="/"> <i class="fa fa-trash-alt btn btn-danger"></i></a>


  <!--  <div class="login-wrapping">-->

<!--  </div>-->
</div>
